body {
  background-color: #82B4C4;
  font-family: 'Droid Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Kreon', serif;
}

#headshot {
  border-radius: 100%;
  height: 250px;
  border: 3px solid black;
}

header {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

i {
  margin: 15px;
}

a.icon {
  text-decoration: none;
  color: black;
}

a.icon:hover {
  color: #FF9C36;
}

.about, .projects {
  padding: 25px;
}

span.link  {
  display: inline;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}

.about {
  text-align: justify;
}

.work {
  background-color: #FF9C36;
  width: 100%;
  height: 4px;
}

#sample {
  padding-top: 25px;
  padding-left: 25px;
}

.projects {
  background-color: #FF9C36;
  text-align: justify;
  overflow: hidden;
  margin: 25px;
}

.projects img {
  float: left;
}

.description {
  margin: 15px;
}

.screenshot{
  width: 40%;
}

input, textarea {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
}

form {
  width: 30%;
  text-align: left;
}

.form {
  padding: 25px;
}

.red {
  color: red;
}

.green {
  color: green;
}

button {
  padding: 5px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 25px;
}

/* 
Color Scheme:
  #82B4C4 - blue gray blue-ish - background
  #5CD6FF - sky blue-ish
  #00C0FF - robin egg blue-ish
  #C2A282 - beige-tan-ish
  #FF9C36 - tangerine-ish orange - divider stripes
*/